.container {
    width: 100%;
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content h3 {
    font-size: 3em;
}

.content h4 {
    font-size: 2em;
}

.content p {
    font-size: 1.5em;
    text-align: justify;
    align-self: center;
}

.text_animation {
    color: #333333;
    animation: spin-text 2s linear;
    margin: 0;
    text-align: left;
}

.img {
    animation: spin-img 2s linear;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 95%;
        height: 95%;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .text_animation {
        color: #333333;
        animation: spin-text 2s linear;
        margin: 0;
        text-align: center;
        position: relative;
        width: 100%;
    }
    .img {
        height: 30%;
    }
}

@media (max-width: 640px) {
    .container {
        width: 95%;
        height: 95%;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text_animation {
        color: #333333;
        animation: spin-text 2s linear;
        margin: 0;
        text-align: center;
    }
    .img {
        height: 30%;
        display: none;
    }
}


/* The animation code */

@keyframes spin-text {
    0% {
        opacity: 0%;
        font-size: .0em;
    }
    25% {
        opacity: 25%;
        font-size: .5em;
    }
    50% {
        opacity: 50%;
        font-size: 1em;
    }
    100% {
        opacity: 100%;
        font-size: 2em;
    }
}

@keyframes spin-img {
    0% {
        opacity: 0%;
        width: 0vh;
        height: 0vh;
    }
    25% {
        opacity: 25%;
        width: 25%;
        height: 25%;
    }
    50% {
        opacity: 50%;
        width: 50%;
        height: 50%;
    }
    100% {
        opacity: 90%;
        height: 100%;
    }
}